<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;p&gt;The generated pdf will be emailed to you.&#xd;
  &#xd;
&lt;p&gt;The pdf will also be archived in the build history artifacts.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>email</name>
          <description>&lt;p&gt;Email addresss that the generated map will be emailed to, not required if you are logged in and have set your email address.

&lt;p&gt;You can &lt;a href=&quot;../../login&quot;&gt;log in&lt;/a&gt; using your TOD Linux user name and password.  You can configure your email address by clicking your name at &lt;a href=&quot;../../asynchPeople/&quot;&gt;the people page&lt;/a&gt; and then clicking the &quot;Configure&quot; &lt;img src=&quot;../../static/3880e91f/images/24x24/setting.png&quot; alt=&quot;configure_icon&quot;&gt;link.

&lt;p&gt;Even if no address is provided, the generated map will be available in the build history artifacts when it is complete.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>selection</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>MM1S_MED1_added_by_jd</string>
              <string>MM1S_BRD4_500nM_JQ1</string>
              <string>MM1S_BRD4_50nM_JQ1</string>
              <string>MM1S_BRD4_5nM_JQ1</string>
              <string>MM1S_BRD4_5uM_JQ1</string>
              <string>MM1S_BRD4_DMSO_2</string>
              <string>MM1S_CDK9_500nM_JQ1</string>
              <string>MM1S_CDK9_50nM_JQ1</string>
              <string>MM1S_CDK9_5nM_JQ1</string>
              <string>MM1S_CDK9_5uM_JQ1</string>
              <string>MM1S_CDK9_DMSO_2</string>
              <string>MM1S_CTCF</string>
              <string>MM1S_H3K27AC_DMSO</string>
              <string>MM1S_H3K4ME3_DMSO</string>
              <string>MM1S_MED1_500nM_JQ1</string>
              <string>MM1S_MED1_50nM_JQ1</string>
              <string>MM1S_MED1_5nM_JQ1</string>
              <string>MM1S_MED1_5uM_JQ1</string>
              <string>MM1S_MED1_DMSO_2</string>
              <string>MM1S_RNA_POL2_500nM_JQ1</string>
              <string>MM1S_RNA_POL2_50nM_JQ1</string>
              <string>MM1S_RNA_POL2_5nM_JQ1</string>
              <string>MM1S_RNA_POL2_5uM_JQ1</string>
              <string>MM1S_RNA_POL2_DMSO_2</string>
              <string>MM1S_WCE_DMSO_1</string>
              <string>MM1S_WCE_DMSO_MERGED</string>
              <string>MM1S_WCE_WT</string>
              <string>MM1S_p50</string>
              <string>MM1S_IRF4</string>
              <string>MM1S_H3K27AC_JQ1</string>
              <string>MM1S_H3K4ME3_JQ1</string>
              <string>MM1S_MYC</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>gff</name>
          <description>Enter .gff or genomic region e.g. chr1:+:1-1000</description>
          <defaultValue>chr6:+:332864-356961</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>y_scale</name>
          <description>Choose either relative or uniform y axis scaling</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>UNIFORM</string>
              <string>RELATIVE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>optional_color_override</name>
          <description>Override the default color with an RGB value, e.g. 47,26,251</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/bradnerComputation/pipeline.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf output # remove any prior output directories
mkdir output  # create a new output directory

data_dir=/ark/home/jenkins/jobs/Bam_Plot/placeholder_data # temporary, until Charles gives me the real data path

arguments=`python ~/scripts/bamPlotArgumentsFromTable.py $data_dir/MM1S_Table.txt $selection &quot;$optional_color_override&quot;`

# arguments is something like &quot;05242012_D0WUYACXX_3.ACAGTG.hg18.bwt.sorted.bam -g hg18 -c 47,26,251&quot;

python bamPlot.py -n $selection -i $gff -y $y_scale -t plot_`date +&quot;%Y-%m-%d_%H%M&quot;`.pdf -o `pwd`/output/ -p SINGLE -b $data_dir/$arguments</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>output/*.pdf</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.30.2">
      <recipientList>$email</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>Attached is the bam plot pdf generated with the following parameters:

$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>Bam Plot PDF Generation Failed - $selection</subject>
            <body>Bam plot pdf generation failed with the following parameters.  Please confirm that your gff is valid.  For assistance, please forward this email to a developer.

$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>Generated Bam Plot PDF - $selection</defaultSubject>
      <defaultContent>selection: $selection
gff: $gff
y_scale: $y_scale
optional_color_override: $optional_color_override

--------

$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern>output/*.pdf</attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>